<!doctype html>
<html><!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
	<meta charset="utf-8">
	<meta name="description" content="The Hydroblast Shop is a small family owned business based in Melbourne, specialising in restoration and refurbishment of automotive, motorcycle and industrial components.">
	<meta name="keywords" content="hydroblast,hydro blast,vaporblast,vapor blast,wetblast,wet blast,part restoration,rust removal,metal restoration, metal finish">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<!-- InstanceBeginEditable name="Title" -->
	<title>The Hydroblast Shop | Metal Finish and Restoration, Melbourne</title>
	<!-- InstanceEndEditable -->
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- CSS -->
	<link href="../css/main.css" rel="stylesheet" type="text/css"/>
	<link href="../css/images.css" rel="stylesheet" type="text/css"/>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<!--
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-49749417-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-49749417-1');
	</script>
-->
</head>

<body>
	<div class="fullscreen" align="center">
		<div class="prev-arrow"><img src="../images/gallery/prev-arrow.png"/></div>
		<div class="sk-fading-circle full-spinner">
			<div class="sk-circle1 sk-circle"></div>
			<div class="sk-circle2 sk-circle"></div>
			<div class="sk-circle3 sk-circle"></div>
			<div class="sk-circle4 sk-circle"></div>
			<div class="sk-circle5 sk-circle"></div>
			<div class="sk-circle6 sk-circle"></div>
			<div class="sk-circle7 sk-circle"></div>
			<div class="sk-circle8 sk-circle"></div>
			<div class="sk-circle9 sk-circle"></div>
			<div class="sk-circle10 sk-circle"></div>
			<div class="sk-circle11 sk-circle"></div>
			<div class="sk-circle12 sk-circle"></div>
		</div>
		<div class="full-img-container">
			<center>
				<img class="full-img" src="#"/>
			</center>
		</div>
		<img class="close-gallery" src="../images/gallery/gallery-close.png"/>
		<div class="next-arrow"><img src="../images/gallery/next-arrow.png"/></div>
	</div>
	<div class="header">
		<img src="../images/header.png">
	</div>
	<div class="container">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav d-flex justify-content-between align-items-stretch">
					<li class="nav-item">
						<a class="nav-link" href="../">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../about/">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../faq/">FAQ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../contact/">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../pricing/">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../gallery/">Gallery</a>
					</li>
					
<!--
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Gallery</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="../gallery/">Images</a>
							<a class="dropdown-item" href="../projects/">Projects</a>
						</div>
					</li>
-->
				</ul>
			</div>
		</nav>
		<div class="content">
		<!-- InstanceBeginEditable name="Content" -->
			<div class="content-faq">
			<h3 class="panel-title"><a class="collapsed" data-toggle="collapse" data-target="#index1">What can be hydroblasted?</a></h3>
			<div id="index1" class="collapse">Most metals, including: <p><strong><li>Stainless steel</li><li>Aluminium</li><li>Bronze</li><li>Magnesium</li><li>Titanium</li><li>Brass</li><li>Copper</li></strong></p><p>Excellent candidates for hydroblasting also include most alloy parts e.g. cylinder heads, intakes, turbochargers, throttle bodies, carburetors, motorcycle barrels, brake calipers, fork legs, triple trees, wheel hubs and alloy engine casings.</p> See our <a href="../gallery">gallery</a> for more examples.</div>
			<hr>
			<h3 class="panel-title"><a class="collapsed" data-toggle="collapse" data-target="#index2">Can cast iron be hydroblasted?</a></h3>
			<div id="index2" class="collapse"><p>Absolutely. Hydroblasting will remove all surface rust and impurities bring cast iron back to its original cast appearance. We have had clients asking us to hydroblast their crankshaft webs to remove impurities and restore them to their original state prior to being linished. Conrods can also be very successfully hydroblasted and returned to their “as new condition”.</p>
				<div class="thumb scrollable"><center>
					<img style="width:49%; padding: 5px;" src="../images/faq/rusty_crank.jpg" alt="Rusty Crank">
					<img style="width:49%; padding: 5px;" src="../images/faq/crank_new.jpg" alt="Clean Crank">
				</center></div>
			</div>
			<hr>
			<h3 class="panel-title"><a class="collapsed" data-toggle="collapse" data-target="#index3">Can magnesium be hydroblasted?</a></h3>
			<div id="index3" class="collapse"><p>Yes, hydroblasting is the safest possible restoration method for magnesium parts. Because hydroblasting uses a wet process, the magnesium is kept cool. Magnesium does not shine like aluminium because as it's cleaned, it's already forming an oxidation layer which turns the part a dull grey colour. This is normal.</p>
				<center><div class="thumb scrollable">
					<img style="width:45%; padding: 5px;" src="../images/faq/mag_wheel.jpg" alt="Magnesium Wheel">
					<img style="width:45%; padding: 5px;" src="../images/faq/mag_wheel2.jpg" alt="Magnesium Wheel Comparison">
				</div></center>
			</div>
			<hr>
			<h3 class="panel-title"><a class="collapsed" data-toggle="collapse" data-target="#index4">What about flash rusting?</a></h3>
			<div id="index4" class="collapse"><p>Our slurry mixture contains a flash rust inhibitor that will stop flash rust for a few days on cylinder bores, studs and screws etc. We also apply a rust preventative to studs and other steel parts that may rust.</p> It is recommended that steel items like screws, throttle linkages, bolts etc. be plated soon after hydroblasting.</div>
			<hr>
			<h3 class="panel-title"><a class="collapsed" data-toggle="collapse" data-target="#index5">What sort of finish can I expect?</a></h3>
			<div id="index5" class="collapse"><p>Different castings produce different results. Sand cast parts come out exceptionally well and have a beautiful satin lustre. Die cast parts usually have a matt satin finish although this varies according to the quality of the casting. Stainless steel has a matt satin finish.</p>The action of hydroblasting also gently peens the surface of the metal closing the pores and making it more resistant to further dirt and grime.</div>
			<hr>
			<h3 class="panel-title"><a class="collapsed" data-toggle="collapse" data-target="#index6">What media do you use?</a></h3>
			<div id="index6" class="collapse"><p>We use a blended fine grade, high quality glass bead. Because glass beads are round and the cleansing action is by flow rather than impact, the finish is much finer than traditional angular media used in dry blasting.</p>
				<center>
					<div class="blast-illi"><img src="../images/about/illustration_1.jpg" alt="Sandblasting Comparison"><br><h4>Sandblast</h4></div>
					<div class="blast-illi"><img src="../images/about/illustration_2.jpg" alt="Bead Comparison"><br><h4>Beadblast</h4></div>
					<div class="blast-illi"><img src="../images/about/illustration_3.jpg" alt="Hydroblasting Comparison"><br><h4>Hydroblast</h4></div>
				</center>
			The base metal remains totally intact. Media does not impregnate the surface because it is cushioned by the water. Critical tolerances and threads are safe.
			</div>
			<hr>
			<h3 class="panel-title"><a class="collapsed" data-toggle="collapse" data-target="#index7">Can hydroblasting strip anodising?</a></h3>
			<div id="index7" class="collapse"><p>Yes it can, but the process is time consuming and sometimes requires the item to be pre blasted with dry glass bead.</p>
				<center><img src="../images/faq/fittings.jpg" width="100%" alt="Fittings"></center>
			</div>
			<hr>
			<h3 class="panel-title"><a class="collapsed" data-toggle="collapse" data-target="#index8">What about paint stripping?</a></h3>
			<div id="index8" class="collapse"><p>Paint must be stripped using dry blasting or paint stripper prior to hydroblasting. Hydroblasting is a metal finishing process and the glass bead spheres are not effective at penetrating through the paint. Paint residue also clogs the machine and is counter productive to achieving a high quality finish.</p>We can outsource your work if required and it will be returned after undergoing both dryblasting and hydroblasting. This method can still produce some of this best results.</div>
			<hr>
			<h3 class="panel-title"><a class="collapsed" data-toggle="collapse" data-target="#index9">Can you blast complete engines?</a></h3>
			<div id="index9" class="collapse"><p>Generally no, but I will consider small engines <u>at the customers risk</u>. An example of a small Yamaha 50cc FS1 hydroblasted intact at the customers request.</p>
				<center><img src="../images/faq/engine_rusty.jpg" width="600" height="361" alt="Rusty Yamaha Engine">
					<img src="../images/faq/engine_new.jpg" width="600" height="389" alt="Clean Yamaha Engine"></center>
			</div>
			<hr>
			<h3 class="panel-title"><a class="collapsed" data-toggle="collapse" data-target="#index10">Must I strip everything down e.g. carburetors?</a></h3>
			<div id="index10" class="collapse">Absolutely. Carbies always finish really well. Carbies must be presented with all jets, screws, slides, springs, linkages etc. removed and tops and float bowls loosely assembled for the job to be done right. Complete banks of carbies must be stripped and separated as well. You will have to strip them anyway to plate all the non-alloy parts so they do not rust.</div>
			<hr>
			<h3 class="panel-title"><a class="collapsed" data-toggle="collapse" data-target="#index11">What about media residue?</a></h3>
			<div id="index11" class="collapse">Although we take care to block any passages we don’t want media to enter, there is always the risk that some media residue may remain. We thoroughly rinse the part after and dry with compressed air but the final responsibility rests with the customer to check that no media traces remain prior to re assembly of the parts.</div>
			<hr>
			<h3 class="panel-title"><a class="collapsed" data-toggle="collapse" data-target="#index12">Can hydroblasting de burr my parts?</a></h3>
			<div id="index12" class="collapse">We have had customers bring us brand new intake manifolds, cylinder heads and alloy rocker covers for hydroblasting. Mass production and cnc machining leaves tiny burrs on these components which are not removed by the factory before being sold. <strong>Hydroblasting makes the new part better than new, smooth and burr free.</strong></div>
			<hr>
			<h3 class="panel-title"><a class="collapsed" data-toggle="collapse" data-target="#index13">What if my newly hydroblasted parts get dirty during assembly?</a></h3>
			<div id="index13" class="collapse">No problem. Just wash off with a fast evaporating solvent such as brake cleaner and dry with compressed air and they will be good as new.</div>
			<hr>
			<h4 class="display-4" style="font-size: 200%;"><p>Please email or call if there are any specific questions related to your project.</p></h4>
			</div>
			<script src="../js/collapse.js"></script>
		<!-- InstanceEndEditable -->
		</div>
		<div class="contact-footer-info">
			<div style="margin: auto; max-width: 800px;">
				<table align="left" width="370" border="0" cellpadding="5" cellspacing="0">
					<tbody>
						<tr align="left" valign="top">
							<td width="75">Phone</td>
							<td width="295">(+61) 0400 516 979</td>
						</tr>
						<tr align="left" valign="top">
							<td>Email</td>
							<td><a href="mailto:thehydroblastshop@gmail.com">sales@thehydroblastshop.com</a></td>
						</tr>
						<tr align="left" valign="top">
							<td>Address</td>
							<td><a href="https://www.google.com.au/maps/place/The+Hydroblast+Shop/@-37.988804,145.1974651,15z/data=!4m5!3m4!1s0x0:0x874ae2398d04d948!8m2!3d-37.988804!4d145.1974651" target="_blank">Factory 3, 41 - 43 Sinclair Rd, Dandenong, VIC 3175</a></td>
						</tr>
					</tbody>
				</table>
				<div class="fb-page">
					<strong>Follow us on facebook!</strong><br>
					<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fthehydroblastshop&amp;tabs&amp;width=340&amp;height=70&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=false&amp;appId=1058623197586065" width="340" height="70" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="footer-content">
			Copyright © The Hydroblast Shop 2018. All rights reserved.
			<br><a href="../Terms%20of%20Use%20-%20The%20Hydroblast%20Shop.pdf">Terms of Use</a>
		</div>
	</footer>
	<script src="../js/fullscreen.js" type="text/javascript"></script>
</body>
<!-- InstanceEnd --></html>