<!doctype html>
<html><!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
	<meta charset="utf-8">
	<meta name="description" content="The Hydroblast Shop is a small family owned business based in Melbourne, specialising in restoration and refurbishment of automotive, motorcycle and industrial components.">
	<meta name="keywords" content="hydroblast,hydro blast,vaporblast,vapor blast,wetblast,wet blast,part restoration,rust removal,metal restoration, metal finish">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<!-- InstanceBeginEditable name="Title" -->
	<title>The Hydroblast Shop | Metal Finish and Restoration Melbourne</title>
	<!-- InstanceEndEditable -->
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- CSS -->
	<link href="../css/main.css" rel="stylesheet" type="text/css"/>
	<link href="../css/images.css" rel="stylesheet" type="text/css"/>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<!--
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-49749417-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-49749417-1');
	</script>
-->
</head>

<body>
	<div class="fullscreen" align="center">
		<div class="prev-arrow"><img src="../images/gallery/prev-arrow.png"/></div>
		<div class="sk-fading-circle full-spinner">
			<div class="sk-circle1 sk-circle"></div>
			<div class="sk-circle2 sk-circle"></div>
			<div class="sk-circle3 sk-circle"></div>
			<div class="sk-circle4 sk-circle"></div>
			<div class="sk-circle5 sk-circle"></div>
			<div class="sk-circle6 sk-circle"></div>
			<div class="sk-circle7 sk-circle"></div>
			<div class="sk-circle8 sk-circle"></div>
			<div class="sk-circle9 sk-circle"></div>
			<div class="sk-circle10 sk-circle"></div>
			<div class="sk-circle11 sk-circle"></div>
			<div class="sk-circle12 sk-circle"></div>
		</div>
		<div class="full-img-container">
			<center>
				<img class="full-img" src="#"/>
			</center>
		</div>
		<img class="close-gallery" src="../images/gallery/gallery-close.png"/>
		<div class="next-arrow"><img src="../images/gallery/next-arrow.png"/></div>
	</div>
	<div class="header">
		<img src="../images/header.png">
	</div>
	<div class="container">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav d-flex justify-content-between align-items-stretch">
					<li class="nav-item">
						<a class="nav-link" href="../">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../about/">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../faq/">FAQ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../contact/">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../pricing/">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../gallery/">Gallery</a>
					</li>
					
<!--
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Gallery</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="../gallery/">Images</a>
							<a class="dropdown-item" href="../projects/">Projects</a>
						</div>
					</li>
-->
				</ul>
			</div>
		</nav>
		<div class="content">
		<!-- InstanceBeginEditable name="Content" -->
		<h3 style="padding: 20px 0px 20px 0px;">Pricing</h3>
		<p>Pricing is based on <strong>$90 an hour</strong></p>
		<p>Each job will be assessed on a case by case basis.</p>
		<p>Example: If cleaning and blasting takes only 30 minutes, you’ll only be charged for 30 minutes, however there is a <strong>minimum</strong> shop charge of $25 if you require a one off small part to be hydroblasted.</p>
		
		<h3 style="padding: 40px 0px 20px 0px;">When bringing or sending your work, please note:</h3>
		<p>All components should be <strong>free from paint, heavy grease and dirt deposits</strong> prior to hydroblasting. We can offer to degrease and paint strip your parts prior to hydroblasting but this is outsourced and will add to costs. Price on application.</p>
		<p>Engine cases and engine parts must be stripped of all <strong>bearings</strong>, <strong>gaskets</strong>, <strong>valves</strong>, <strong>fittings</strong> and parts for best results, we can still clean the parts with these items fitted but it is done at the customer’s risk.</p>

		<h3 style="padding: 40px 0px 20px 0px;">Glass bead residue</h3>
		<p>We will wash processed parts after hydroblasting and whilst every effort is made to ensure no glass bead media remains on or in the item, we advise when you receive your parts you re-wash and check parts carefully before assembly as any glass beads left behind could cause engine or machine damage. This is very important and it is the customer’s responsibility to wash and blow the part clean before fitment. We cannot emphasise this enough.</p>
		
		<h3 style="padding: 40px 0px 20px 0px;">Quotes</h3>
		<p>If you would like a quote on your parts, feel free to email us some pictures with some dimensions or even better with a steel rule placed in the photo to give us an idea of size.</p>
		<h3>Please email or call if there are any specific questions related to your project.</h3>
		<!-- InstanceEndEditable -->
		</div>
		<div class="contact-footer-info">
			<div style="margin: auto; max-width: 800px;">
				<table align="left" width="370" border="0" cellpadding="5" cellspacing="0">
					<tbody>
						<tr align="left" valign="top">
							<td width="75">Phone</td>
							<td width="295">(+61) 0400 516 979</td>
						</tr>
						<tr align="left" valign="top">
							<td>Email</td>
							<td><a href="mailto:thehydroblastshop@gmail.com">sales@thehydroblastshop.com</a></td>
						</tr>
						<tr align="left" valign="top">
							<td>Address</td>
							<td><a href="https://www.google.com.au/maps/place/The+Hydroblast+Shop/@-37.988804,145.1974651,15z/data=!4m5!3m4!1s0x0:0x874ae2398d04d948!8m2!3d-37.988804!4d145.1974651" target="_blank">Factory 3, 41 - 43 Sinclair Rd, Dandenong, VIC 3175</a></td>
						</tr>
					</tbody>
				</table>
				<div class="fb-page">
					<strong>Follow us on facebook!</strong><br>
					<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fthehydroblastshop&amp;tabs&amp;width=340&amp;height=70&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=false&amp;appId=1058623197586065" width="340" height="70" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="footer-content">
			Copyright © The Hydroblast Shop 2018. All rights reserved.
			<br><a href="../Terms%20of%20Use%20-%20The%20Hydroblast%20Shop.pdf">Terms of Use</a>
		</div>
	</footer>
	<script src="../js/fullscreen.js" type="text/javascript"></script>
</body>
<!-- InstanceEnd --></html>